/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* global styling */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #f9fafb;
    display: flex;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    justify-content: space-between;
    margin: 0 auto;
}

input, fieldset, legend, button {
    font-family: inherit;
    font-size: inherit;
}

a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}


/* hero */
.hero {
    background-image: url(../assets/banner.jpg);
    background-position: top;
    background-size: cover;
    flex: 1 0 450px;
}

.hero-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding: 7.5px 0;
}

.hero-container__icon {
    width: clamp(3rem, 7vw, 4rem);
}

.hero-container__title {
    color: #fff;
    font-family: "Amatic SC", cursive;
    font-size: clamp(2rem, 5vw, 4rem);
    letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
}

/* main */
.main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 900px;
    justify-content: center;
    padding: 150px 0px;
}

.info {
    margin: 0px 25px auto;
}

/* form */
.form {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin: auto 0;
    padding: 25px;
    position: relative;
}

.ui {
    border: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px;
    row-gap: 20px;
    width: 500px;
}

.ui__title {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.control {
    flex: 0 0 200px;
}

.control__label {
    display: block;
    font-size: .75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-account {
    background-color: #763d1b;
    border: 0px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: .75rem;
    padding: 5px 15px;
    position: absolute;
    bottom: -40px;
}