/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

/* global styling */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

input, fieldset, legend, button {
    font-family: inherit;
    font-size: inherit;
}

a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}