/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (variables, resets)
        2. =PRIMARY LAYOUT (body, main)
        3. =SECONDARY LAYOUT (ui)
        4. =TERTIARY LAYOUT (footer)
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms, tables)
        7. =GENERAL CLASSES (modifier classes)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =ANIMATIONS
        10.=MEDIA QUERIES 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

:root {
    --bg-color: #f3f3f3;
}

*:where(:not(img, svg, video, input, textarea, select):not(svg *, symbol *)) {
 all: unset;
 display: revert;
}

html {
 background-color: var(--bg-color);
 box-sizing: border-box;
 font-size: 16px;
 min-width: 375px;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

a,
button {
 cursor: revert;
}

ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

img {
 max-width: 100%;
}

:where([contenteditable]) {
 -moz-user-modify: read-write;
 -webkit-user-modify: read-write;
 overflow-wrap: break-word;
 -webkit-line-break: after-white-space;
}

:where([draggable="true"]) {
 -webkit-user-drag: element;
}

/* ===============
  PRIMARY LAYOUT
  =============== */

body {
 line-height: 1.5;
 margin: 0 auto;
 text-align: center;
}

/* ===============
  SECONDARY LAYOUT
  =============== */

.ui {
  display: none;
}

/* ===============
  TERTIARY LAYOUT
  =============== */

/* ===============
  TEXT RELATED
  =============== */

/* ===============
  GENERAL STYLES
  =============== */

button {
 background-color: var(--bg-color);
 border: 0;
 border-radius: 3px;
 overflow: hidden;
}

/* ===============
  GENERAL CLASSES
  =============== */

/* ===============
  SALIENT FEATURES
  =============== */

/* ===============
  ANIMATIONS
  =============== */

/* ===============
  MEDIA QUERIES
  =============== */

