/* imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* variables */
:root {
  --primary-color: #2972b6;
  --secondary-color: #945cb4;
  --btn-color: #4ebcff;
  --hover-color: #002790;
  --bold-color: #001d4f;
  --bg-color: #e2e8f0;
}

/* global */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

img {
  height: 100px;
  object-fit: cover;
  width: 100px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

button {
  background-color: var(--btn-color);
  border: none;
  border-radius: 12.5px;
  color: #fff;
  font-weight: 700;
  padding: 7.5px 15px;
}

/* layout */
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 200px 4fr;
}

.dashboard {
  background-color: var(--primary-color);
  grid-row: 1 / span 2;
}

.banner {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 100px 100px;
}

.account {
  display: flex;
  justify-content: flex-end;
}

.message {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.message__img {
  grid-row: 1 / span 2;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.family-container {
  grid-row: 1 / span 3;
}

.family {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.member {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
}

.member__name {
  grid-column: 1 / span 2;
}

.member__desc {
  grid-column: 1 / span 2;
}

.actions {
  display: flex;
  justify-self: end;
  grid-column: 2 / span 1;
}

.cousin {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cousin__img {
  grid-row: 1 / span 2;
}
